.back {
  position: absolute;
  width: 100%;
  z-index: 1;
  display: block;
  height: 100%;
  background: url("../img/lspd-png.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.db.container {
  padding-top: 100px;
  max-width: 1000px;
}
.db.list-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.list-line span {
  user-select: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  vertical-align: center;
  flex: 1;
  height: auto;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
}
.list-line {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  /* height: 60px; */
  height: 70px;
  width: 100%;
  background-color: black;
  border: 2px solid gray;
  margin-top: 5px;
  margin-bottom: 5px;
}
.skin-img {
  width: 130px;
}
.db-hint {
  float: right;
}
.loading-spinner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.loading-spinner span {
  vertical-align: middle;
}
.person-panel {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 5px;
  margin-right: 5px;
  background-color: rgb(5, 5, 5);
}
.person-name {
}
.panel-content {
  margin: 10px;
}
.person-fields {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: column;
}
.person-fields span {
  text-align: justify;
}
