.StyledEveryDevice {
  font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto,
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  font-weight: 400;
  color: rgb(51, 51, 51);
  margin: 0px;
  padding: 0px;
  border-spacing: 0px;
  box-sizing: border-box;
  width: 100%;
  background: url("https://www.microsoft.com/design/fluent/assets/images/msft-verge-fluent.jpg") 50% center / cover
    no-repeat fixed rgb(204, 204, 204);
  min-height: 668px;
}
.Inner {
  font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto,
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  font-weight: 400;
  color: rgb(51, 51, 51);
  padding: 0px;
  border-spacing: 0px;
  box-sizing: border-box;
  margin: 0px auto;
}
.Title {
  font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto,
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  font-weight: 400;
  color: rgb(51, 51, 51);
  margin: 0px;
  border-spacing: 0px;
  box-sizing: border-box;
  width: 100%;
  transition: opacity 600ms linear 0ms, transform 600ms linear 0ms;
  padding: 20px 0px 60px;
  opacity: 1;
  transform: translateY(0px);
}
.section-headline {
  padding-top: 45px !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  direction: ltr;
  text-align: left;
  margin: 0;
  padding: 0;
  quotes: "« " " »";
  font-size: 56px;
  line-height: 1.07143;
  font-weight: 700;
  letter-spacing: -0.005em;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  color: #ec3200;
  margin-bottom: 43px;
  margin-right: 35px;
  margin-left: 35px;
  position: relative;
}
.waterfall {
  max-width: 1600px;
  margin: auto;
  box-sizing: border-box;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  flex-basis: content;
  justify-content: space-between;
}
.card-container {
  border: 5px solid transparent;
  min-height: 740px;
  min-width: 400px;
  flex: 1;
}
.card-container.full {
  max-width: inherit;
  flex-grow: 10;
  flex: none;
  width: 100%;
}
.card-content {
  width: 100%;
  height: 100%;
  background-color: #000;
}

@keyframes linear_animation {
  0% {
    background-position: 0% 30%;
  }
  50% {
    background-position: 100% 71%;
  }
  100% {
    background-position: 0% 30%;
  }
}
.gradient1 {
  /* background: linear-gradient(rgba(86, 93, 190, 0.4), rgba(170, 0, 0, 0.4)); */
  /* background: rgba(24, 24, 24, 0.9); */
  /* background: orange; */
  animation: linear_animation 10s ease infinite;
  background-size: 200% 200%;
  background-clip: content-box;
  background-attachment: fixed;
}
.gradient2 {
  background: linear-gradient(rgb(0, 17, 255), rgba(255, 0, 0, 0.4));
  animation: linear_animation 10s ease infinite;
  background-size: 200% 200%;
  background-clip: content-box;
  background-attachment: fixed;
}
.jumbo {
  height: calc(100vh - 45px);
  width: 100%;

  /* background: rgba(30, 30, 30, 0.25); */
}
.jumbo-container {
  max-width: 1440px;
  flex-wrap: wrap;
  height: 100%;
  padding: 20px;
  margin: 0px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.jumo-left-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
  text-align: left;
  flex: 1;
  max-width: 560;
}
.jumbo-header {
  /* margin: auto; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}
.jumbo-panel {
  max-width: 350px;
  height: 50%;
  flex: 1;
  margin: 20px;
  background-color: rgba(209, 209, 209, 0.4);
}
.jumbo-panel-content {
  margin: 15px;
}
.navbar{
  background: rgba(24, 24, 24, 0.9);
}
.nav-tabs .nav-link.active {
  /* color: black; */
  /* background-color: rgb(; */
  border: none;
}
.nav-tabs .nav-link {
  border: none;
}
.nav-tabs .nav-link:hover,
.nav-tabs .nav-link:focus {
  background-color: none;
  cursor: pointer;
  border: none;
}
.nav-tabs {
  border-bottom: none;
  padding-bottom: 1px;
}
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: rgba(126, 239, 104, 0.8) !important;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(126, 239, 104, 0.6) !important;
  outline: 0 none !important;
}
