@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('../fonts/Helvetica_Neue/HelveticaNeueCyr-Roman.woff2') format('woff2'),
        url('../fonts/Helvetica_Neue/HelveticaNeueCyr-Roman.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('../fonts/Helvetica_Neue/HelveticaNeueCyr-Thin.woff2') format('woff2'),
        url('../fonts/Helvetica_Neue/HelveticaNeueCyr-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('../fonts/Helvetica_Neue/HelveticaNeueCyr-UltraLightItalic.woff2') format('woff2'),
        url('../fonts/Helvetica_Neue/HelveticaNeueCyr-UltraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('../fonts/Helvetica_Neue/HelveticaNeueCyr-Light.woff2') format('woff2'),
        url('../fonts/Helvetica_Neue/HelveticaNeueCyr-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('../fonts/Helvetica_Neue/HelveticaNeueCyr-UltraLight.woff2') format('woff2'),
        url('../fonts/Helvetica_Neue/HelveticaNeueCyr-UltraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('../fonts/Helvetica_Neue/HelveticaNeueCyr-BlackItalic.woff2') format('woff2'),
        url('../fonts/Helvetica_Neue/HelveticaNeueCyr-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('../fonts/Helvetica_Neue/HelveticaNeueCyr-ThinItalic.woff2') format('woff2'),
        url('../fonts/Helvetica_Neue/HelveticaNeueCyr-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('../fonts/Helvetica_Neue/HelveticaNeueCyr-LightItalic.woff2') format('woff2'),
        url('../fonts/Helvetica_Neue/HelveticaNeueCyr-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('../fonts/Helvetica_Neue/HelveticaNeueCyr-Bold.woff2') format('woff2'),
        url('../fonts/Helvetica_Neue/HelveticaNeueCyr-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('../fonts/Helvetica_Neue/HelveticaNeueCyr-Medium.woff2') format('woff2'),
        url('../fonts/Helvetica_Neue/HelveticaNeueCyr-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('../fonts/Helvetica_Neue/HelveticaNeueCyr-MediumItalic.woff2') format('woff2'),
        url('../fonts/Helvetica_Neue/HelveticaNeueCyr-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('../fonts/Helvetica_Neue/HelveticaNeueCyr-Black.woff2') format('woff2'),
        url('../fonts/Helvetica_Neue/HelveticaNeueCyr-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('../fonts/Helvetica_Neue/HelveticaNeueCyr-Italic.woff2') format('woff2'),
        url('../fonts/Helvetica_Neue/HelveticaNeueCyr-Italic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('../fonts/Helvetica_Neue/HelveticaNeueCyr-BoldItalic.woff2') format('woff2'),
        url('../fonts/Helvetica_Neue/HelveticaNeueCyr-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('../fonts/Helvetica_Neue/HelveticaNeueCyr-HeavyItalic.woff2') format('woff2'),
        url('../fonts/Helvetica_Neue/HelveticaNeueCyr-HeavyItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('../fonts/Helvetica_Neue/HelveticaNeueCyr-Heavy.woff2') format('woff2'),
        url('../fonts/Helvetica_Neue/HelveticaNeueCyr-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

